<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- This is the only value needed to be populated manually-->
    <add key="EthereumNodeUrl" value="" />
  
    <!-- Following values will be populated by the onclick.ps1 script -->
    <add key="applicationId" value="applicationId-PlaceHolder"/>
    <add key="applicationSecret" value="applicationSecret-PlaceHolder"/>
    <add key="AzureStorageConnectionString" value="AzureStorageConnectionString-PlaceHolder"/>
    <add key="AzureKeyVaultUri" value="AzureKeyVaultUri-PlaceHolder"/>
    <add key="EncryptionKeyName" value="EncryptionKeyName-PlaceHolder"/>
    <add key="DecryptionKeyName" value="DecryptionKeyName-PlaceHolder"/>
    <add key="SignKeyName" value="SignKeyName-PlaceHolder"/>
    <add key="VerifyKeyName" value="VerifyKeyName-PlaceHolder"/>
    <add key="SqlUserID" value="SqlUserID-PlaceHolder"/>
    <add key="SqlPassword" value="SqlPassword-PlaceHolder"/>
    <add key="SqlInitialCatalog" value="SqlInitialCatalog-PlaceHolder"/>
    <add key="SqlDataSource" value="SqlDataSource-PlaceHolder"/>
    <add key="rabbitMqUri" value="place holder - not in use in sample"/>
    <add key="EncryptionCertPassword" value="EncryptionCertPassword-PlaceHolder"/>
    <add key="DecryptionCertPassword" value="DecryptionCertPassword-PlaceHolder"/>
    <add key="SignCertPassword" value="SignCertPassword-PlaceHolder"/>
    <add key="VerifyCertPassword" value="VerifyCertPassword-PlaceHolder"/>
  </appSettings>
</configuration>
