<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Azure Service Principal App Id-->
    <add key="applicationId" value="[Add value here]"/>
    <!--Azure Service Principal App Secret-->
    <add key="applicationSecret" value="[Add value here]"/>
    <!--If Working with RabbitMq fill here the RabbitMq url-->
    <add key="rabbitMqUri" value="[Add value here]"/>
    <!--If Working with Azure Storage fill here the Azure storage connection string-->
    <add key="AzureStorageConnectionString" value="[Add value here]"/>
    <!--The Azure Key Vault Uri-->
    <add key="AzureKeyVaultUri" value="[Add value here]"/>
    <!--The EthereumNode Url. Leave this field empty if you want to work with local TestRpc-->
    <add key="EthereumNodeUrl" value="[Add value here]"/>
    <!--The Encryption key name in Azure Key vault-->
    <add key="EncryptionKeyName" value="[Add value here]"/>
    <!--The Decrypotion key name in Azure Key vault-->
    <add key="DecryptionKeyName" value="[Add value here]"/>
    <!--The Sign key name in Azure Key vault-->
    <add key="SignKeyName" value="[Add value here]"/>
    <!--The Verify key name in Azure Key vault-->
    <add key="VerifyKeyName" value="[Add value here]"/>
    <!--The SQL user ID-->
    <add key="SqlUserID" value="[Add value here]"/>
    <!--The Sql password-->
    <add key="SqlPassword" value="[Add value here]"/>
    <!--The Sql initial catalog-->
    <add key="SqlInitialCatalog" value="[Add value here]"/>
    <!--The Sql data source-->
    <add key="SqlDataSource" value="[Add value here]"/>
  </appSettings>
</configuration>